/* CSS Document */
#trigger {
	text-align:center;
}

.popupbox {
	width:716px;
	background-color:#FFF;
	/*background-repeat:no-repeat;*/
	display: none; 
	float: left;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
}
#fade { 
	display: none; /* Hidden as default */
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
#close img {
	text-decoration:none;
}
#close {
	float:right;
	height:29px;
	position: absolute;
	/*top:25px;*/
	width:29px;
}

.intabdiv {
	padding: 0 20px;
}
.prodescrip{
	/*display: inline-block;
	vertical-align: top;
	padding-left:40px;*/
	width:670px;
}
.productoimg{
	border:1px solid #BA0066;
	display: inline-block;
	vertical-align: top;
	width: 230px;
	margin-right: 25px;
}

.datosproduc{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}
.ui-cantidadproductocarrito{
		display: inline-block;
		vertical-align: top;
		width: 200px;
		padding-top: 15px;
		font-size: 14px;
		color: #BA0066;
	}
		.ui-cantidadproductocarrito select{
			color: #585858;
			-webkit-border-radius: 3px;
         -moz-border-radius: 3px;
			border-radius: 3px;
			padding: 2px 3px;
		}
.intabdiv  h2 {
	color:#BA0066;
	font-size:15px;
	font-weight:bold;
	text-align: center;
}
.intabdiv  h3 {
	color:#BA0066;
	font-size:12px;
	font-weight:bold;
}
.intabdiv p {
	font-size:13px;
	color:#5b5b5b;
	font-family:Arial, Helvetica, sans-serif;
	padding: 7px 0;
}
.precioproducto{
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.btncomprar{
	margin:15px auto 15px auto;
	padding: 5px 12px;
	width: 200px;
}
	.btncomprar a{
		color: #FFF;
		text-decoration: none;
		font-size: 14px;
	}
@media (max-width: 960px){
	.popupbox {
		width:90%;
	}
	.prodescrip {
	    padding-left: 0;
	    width: 95%;
	}
	.productoimg{
		width: 38%;
		margin-right: 3%;
	}
	.datosproduc{
		width: 50%;
	}
	.btncomprar {
	    width: 75%;
	    padding: 5px 0;
	}
}
@media (max-width: 780px){
	.productoimg{
		width: 20%;
		margin-right: 3%;
	}
	.datosproduc{
		width: 70%;
	}
		.ui-cantidadproductocarrito{
			width: 90%;
			padding-top: 15px;
		}
}
@media (max-width: 710px){
	
	.btncomprar {
	    /*width: 45%;*/
	}
}
@media (max-width: 620px){
	.intabdiv h2 {
	    font-size: 14px;
	}
}
@media (max-width: 480px){
	.intabdiv p {
	    line-height: 15px;
	}
}
