*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
@font-face {
    font-family: 'leelawadeeregular';
    src: url('../fonts/leelawad-webfont.eot');
    src: url('../fonts/leelawad-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leelawad-webfont.woff') format('woff'),
         url('../fonts/leelawad-webfont.ttf') format('truetype'),
         url('../fonts/leelawad-webfont.svg#leelawadeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intrique_script';
    src: url('../fonts/intriquescript_personaluse-webfont.eot');
    src: url('../fonts/intriquescript_personaluse-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intriquescript_personaluse-webfont.woff') format('woff'),
         url('../fonts/intriquescript_personaluse-webfont.ttf') format('truetype'),
         url('../fonts/intriquescript_personaluse-webfont.svg#intrique_script_personal_usRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: 'leelawadeeregular';
	color: #585858;
}
.clear{
	clear: both;
}
header {
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	padding-top: 10px;
}
	.caja-centro{
		width: 960px;
		margin: 0 auto;
	}
	.no-borde{
		border-right: 0 !important;
	}
	.ui-cabecera{
		padding: 10px 0 10px 0;
	}
		.ui-title{
			display: inline-block;
			vertical-align: top;
		}
		.ui-nav-site{
			display: inline-block;
			vertical-align: top;
			margin-top: 30px;
			padding-left: 60px;
		}
		.ui-nav-site ul li{
			float: left;
			border-right: 1px solid #d1d1d1;
			font-size: 14px;
			color: #fff;
		}
		.ui-nav-site ul li.activo{
			background-color: #BA0066;
			padding: 5px 15px;
		}
		.ui-nav-site ul li a{
			display: block;
			text-decoration: none;
			color: #585858;
			padding: 5px 15px;
		}
		.ui-nav-site ul li a:hover{
			background-color: #BA0066;
			color: #fff;
		}
			
			.ui-nav-site-mobile{
				display: none;
			}
		.ui-cuenta{
			padding-top: 5px;
			padding-bottom: 10px;
			text-align: right;
		}
			.ui-cuenta p{
				display: inline-block;
				vertical-align: top;

			}
			.ui-cuenta p a{
				/*display: block;*/
			text-decoration: none;
			color: #585858;
			font-size: 13px;
			}
			.ui-cuenta p a:hover{
				text-decoration: underline;
			}
			.ui-cuenta p img{
				display: inline-block;
				vertical-align: top;
			}
			.ui-carrito{
				padding-right: 0px;
				display: inline-block;
				vertical-align: top;
			}
			.ui-micuenta{
				display: inline-block;
				vertical-align: top;
				padding-left: 3px;
			}
		.ui-redes{
			float: right;
			padding-top: 5px;
		}
			.ui-siguenos{
				text-align: right;
			}
			.ui-siguenos span{
				font-size: 13px;
				height: 32px;
				line-height: 32px;
				display: inline-block;
				vertical-align: top;
				color: #585858
			}
		.ui-redes-mobile{
			display: none;
		}

		
section{
	background-color: #f2f6f8;
}
	.ui-contenido{
		padding: 20px 10px;
	}
	.ui-slider{
		background: url(../images/bg_section.png) no-repeat;
	}
	.ui-slogan{
		float: right;
		color: #a0a0a0;
		font-size: 23px;
		margin-top: 50px;
		width: 465px;
		text-align: center;

	}
	.ui-promociones{
		width: 465px;
		float: right;
		margin-bottom: 120px;
		padding-top: 100px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-align: right;
		padding-right: 25px;
	}
		.img-slider{
			width: 100%;
			
		}
	.head-slider{
		font-size: 40px;
		
		color: #4d3b5b;
		border-bottom: 1px solid #535353;
		line-height: 50px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		font-weight: light;
	}
	.slider-slogan{
		color: #3f273c;
		font-size: 40px;
		margin-bottom: 20px;
	}
		.slider-slogan span{
			color: #ed0a70;
			font-size: 40px;
			font-weight: bold;
		}
	.slider-pie a{
		font-size: 18px;
		color: #000000;
		text-decoration: none;
	}
footer{
	background-color: #333333;
	padding: 10px 0;
}
	.ui-footer{
		text-align: center;
		color: #fff;
		font-size: 12px;
	}
	.ui-footer p{
		padding: 5px 0;
	}
	.ui-footer p a{
		color: #fff;
		text-decoration: none;
	}
	.ui-footer p a:hover{
		text-decoration: underline;
	}
	.ui-footer ul{
		padding: 5px 0;
	}
	.ui-footer ul li{
		display: inline-block;
		vertical-align: top;
		padding: 0 8px;
	}
	.ui-footer li:before{
		content:url(../images/icon_footer.png);
		margin-right: 10px;
		display: inline-block;
	}
	.ui-footer li:first-child{
		content: none;
	}
	.ui-footer ul li a{
		color: #a0a0a0;
		font-size: 12px;
		text-decoration: none;
	}
	.ui-footer ul li a:hover{
		text-decoration: underline;
	}


/*----------------accesorios------------------*/
.ui-contenido h2{
	color: #BA0066;
	font-size: 30px;
	margin-bottom: 30px;
}
.ui-catalogo{
	border: 1px solid #ebebeb;
	background-color: #fff;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 10px;
	margin-bottom: 20px;
}
.ui-catalogo p{
	padding: 10px;
	font-size: 14px;
}
.ui-catalogo p span{
	font-weight:bold;
	color: #BA0066;
}
	.ui-catalogo-muestra{
		position: relative;
	}
	.lengueta{
			left:7px;
			position:absolute;
			top:239px;
			width:189px;
		}
	.ampliar{
			left:175px;
			position:absolute;
			top:233px;
			width:22px;
		}

/*----------------inicia sesion------------------*/
.breadcrumb{
	
	font-size: 12px;
	padding-bottom: 10px;
	font-weight: bold;
}
	.breadcrumb a{
		text-decoration: none;
		color: #585858;
		font-weight: normal;
	}
	.breadcrumb a:hover{
		color: #BA0066;
	}
.ui-textocualquiera{
	font-size: 14px;
	padding-bottom: 8px;
}
	.ui-textocualquiera a{
		text-decoration: none;
		color: #BA0066;
		font-weight: bold;
	}
	.ui-textocualquiera a:hover{
		text-decoration: underline;
	}
	



/*--------------------------------*/	
.botones{
		background-color: #BA0066;
		color: #fff;
		cursor: pointer;
		padding: 10px 30px!important;
		border: 0;
		-webkit-border-radius: 3px;
         -moz-border-radius: 3px;
			border-radius: 3px;
	}
.subti{
	font-weight: bold;
}
/*--------------------------------*/

/*----------------realiza compra------------------*/
.ui-inicia{
	border: 1px solid #ebebeb;
	padding: 20px;
	margin-top: 10px;
	font-size: 15px;
}
	.ui-inicia input{
		margin: 10px 0;
		border: 0;
		width: 40%;
		padding: 3px 1px;
	}
.ui-inicia a{
	text-decoration: none;
	color: #BA0066;
	font-size: 14px;
}
.ui-subti-realizacompra{
	padding: 5px 0;
	border-bottom: 1px solid #585858;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 15px; 
	font-weight: bold;
}
.ui_registracampo{
	width: 48%;
	padding: 0 5%;
	display: inline-block;
	vertical-align: top;
}
.ui_registracampo p{
	font-size: 14px;
	margin-bottom: 18px;
}
	.labelcampos{
		padding: 5px 0;
	}
	.labelcampos span{
		color: #BA0066;
	}
	.labelcampos input{
		margin: 10px 0;
	    width: 80%;
	    padding: 3px 1px;
	    color: #585858;
	    -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
			border-radius: 3px;
		border: 1px solid #585858;
	}
	.labelcampos select{
		margin: 10px 0;
	    width: 80%;
	    padding: 3px 1px;
	    color: #585858;
	    -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
			border-radius: 3px;
	}
	.ui-cancelar{
		display: inline-block;
		vertical-align: top;
		padding-top: 18px;
		padding-right: 40px;
	}
.ui-realiza-confirma{
	text-align: center;
}


/*----------------mi cuenta------------------*/

.segundabotonera{
	width: 20%;
	border: 1px solid #ebebeb;
	display: inline-block;
		vertical-align: top;
}
.micuenta{
	width: 76%;
	margin-left: 3%;
	border: 1px solid #ebebeb;
	display: inline-block;
		vertical-align: top;
}


/*----------------carrito------------------*/

.ui-carrito-compra{
	width: 960px;
	border: 1px solid #ebebeb;
	background-color: #f9fbfc;
	padding: 5px;
}
	.ui-productocarrito{
		width: 120px;
		display: inline-block;
		vertical-align: top;
		padding-right: 25px;
	}
	.ui-detalleproductocarrito{
		display: inline-block;
		vertical-align: top;
		width: 550px;
		text-align: center;
	}
		.ui-detalleproductocarrito p{
			padding: 4px 0;
		}
		.nombreproductocarrito{
			font-weight: bold;
			font-size: 16px;
		}
		.tallaproductocarrito{
			font-size: 14px;
			color: #BA0066;
		}
		.tallaproductocarrito span{
			color: #585858;
		}
		.precioproductocarrito{
			font-size: 14px;
			color: #BA0066;
		}
	
	.ui-subtotalcarrito{
		display: inline-block;
		vertical-align: top;
		width: 250px;
		font-size: 14px;
		text-align: center;
		padding-top: 30px;
	}
	.ui-subtotalcarrito span{
		font-size: 15px;
			color: #BA0066;
	}
	.ui-eliminarcarrito a{
		font-size: 13px;
		color: #BA0066;
		text-decoration: none;
		padding: 8px 0;
		display: block;
	}
.ui-subtotalfinalcarrito{
	float: right;
	margin: 10px 0;
	text-align: center;
	width: 250px;
	font-size: 14px;
}
.ui-subtotalfinalcarrito p{
	padding: 8px 0;
}
.ui-subtotalfinalcarrito .subtotal{
	font-weight: bold;
}
.ui-subtotalfinalcarrito .subtotal span{
	color: #BA0066;
}
.ui-subtotalfinalcarrito .flete{
	margin-bottom: 15px;
}
.ui-subtotalfinalcarrito .flete span{
	color: #BA0066;
}

/*----------------confirmar pedido-----------------*/

.ui-carrito-confirmar{
	width: 99%;
	border: 1px solid #ebebeb;
	background-color: #f9fbfc;
	padding: 5px;
}
.ui_confirmacampo{
	width: 49%;
	padding: 0 1%;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}
.ui_confirmacampo p{
	margin-bottom: 10px;
}
	.ui-carritoconfimar-separacion{
		border-bottom: 1px solid #ebebeb;
		width: 100%;
		margin: 2px 0;
	}
	.ui-productocarrito-confirmar{
		width: 15%;
		display: inline-block;
		vertical-align: top;
		padding-right: 10px;
	}
	.ui-detalleproductocarrito-confirmar{
		display: inline-block;
		vertical-align: top;
		width: 35%;
	}
		.nombrecarrito-confirmar{
			font-size: 14px;
		}
	.ui-preciouno-confirmar{
		display: inline-block;
		vertical-align: top;
		width: 21%;
		text-align: center;
	}
	.ui-cantidad-confirmar{
		display: inline-block;
		vertical-align: top;
		width: 15%;
		text-align: center;
	}
	.ui-subtotalcarrito-confirmar{
		display: inline-block;
		vertical-align: top;
		width: 20%;
		font-size: 14px;
		text-align: center;
	}
		.ui-subtotalcarrito-confirmar span{
			color: #BA0066;
		}
	.ui-subtotalconfirmanombres{
		display: inline-block;
		vertical-align: top;
		float: right;
		margin: 10px 0;
		text-align: center;
		width: 60%;
		font-size: 14px;
		text-align: right;
	}
		.ui-subtotalconfirmanombres .total{
			font-weight: bold;
			font-size: 15px;
		}
	.ui-subtotalconfirmacarrito{
		display: inline-block;
		vertical-align: top;
		float: right;
		margin: 10px 0;
		text-align: center!important;
		width: 25%;
		font-size: 14px;
		text-align: right;
		color: #BA0066;
	}
		.ui-subtotalconfirmacarrito .total{
			font-weight: bold;
			font-size: 15px;
		}
